body{
    background-image:url(images/nouveau.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

.fondForm {
    background-color: white;
}

p{
  size: 10px;
}
h2{
    text-decoration: underline;
}


