<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulaire</title>
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') }}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Blog</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{path('blog_post')}}">post</a>

        </nav>
    </div>


    <div class="container-fluid">
        <div class="row">
            <form class="fondForm text-center border border-light p-5" action="#!">

                <p class="h4 mb-4">Form</p>

                <!-- Title -->
                <input type="text" name="title" id="defaultContactFormName" class="form-control mb-4"
                    placeholder="Title">

                <!-- Author -->
                <input type="text" name="author" id="defaultContactFormName" class="form-control mb-4"
                    placeholder="Author">

                <!-- lien image -->
                <input type="text" name="image" id="defaultContactFormName" class="form-control mb-4"
                    placeholder="Lien image (option)">

                <!-- Message -->
                <div class="form-group">
                    <textarea class="form-control rounded-0" name="content" id="exampleFormControlTextarea2" rows="3"
                        placeholder="écrivez votre texte en 128 caractères"  maxlength="128"></textarea>
                </div>




                <!-- Send button -->

                <button class="btn btn-info btn-block" type="submit">ADD Post</button>



            </form>
        </div>
    </div>



</body>

</html>