<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Main</h5>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{path('blog_test')}}">formulaire</a>
        </nav>
    </div>


    <div class="container-fluid">
        {# Pour faire des liens vers des routes symfony, il est très très très
                            recommandé d'utiliser plutôt la méthode path avec le nom de la
                            route ciblé à l'intérieur plutôt que d'utiliser l'url de la route #}
        {# <a href="{{path('form_person')}}">Add Person</a> #}
        {# <h1>Persons list</h1> #}
        <div class="row col-12">
            {# On fait une boucle sur les persons et pour chaque person on
                                crée une card bootstrap avec les informations de la personne
                                à l'intérieur #}


            <div class="col-3">

                {% for newPost in post %}
                {% if newPost.picture %}
                <div>
                    <div class="card m-2">
                        <div class="card-body">


                            <h2>{{newPost.title}}</h2>

                            <img class="img-fluid" src="{{newPost.picture}}">

                            <p class="card-text">commentaire:
                                {{newPost.content}}
                            </p>

                            <h5 class="card-title">
                                <p>{{newPost.author}}</p>
                            </h5>

                            <p>{{newPost.postDate}} </p>


                            <a class="btn btn-info btn-block" href="{{ path('id', { id: newPost.id }) }}"
                                type="submit">Details</a>


                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-9">

                {% for newPost in post %}
                {% if newPost.picture == null %}
                <div>
                    <div class="card m-2">
                        <div class="card-body">

                            <div class="row col-12">
                                <h2 class="col-11 text-center">{{newPost.title}} </h2>
                                <a class="btn-danger border col-1 text-center" href="{{ path('deletePost', { id: newPost.id }) }}"
                                    type="submit">X</a>
                            </div>

                            <h5>
                                    {{newPost.author}}<p>Le {{newPost.postDate}} </p>
                                </h5>
    
                            
                            <p class="card-text">
                                {{newPost.content}}
                            </p>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>