<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Zoom</title>
</head>
<body>

        <div class="container-fluid">
                {# Pour faire des liens vers des routes symfony, il est très très très
                            recommandé d'utiliser plutôt la méthode path avec le nom de la
                            route ciblé à l'intérieur plutôt que d'utiliser l'url de la route #}
                {# <a href="{{path('form_person')}}">Add Person</a> #}
                {# <h1>Persons list</h1> #}
                <div class="row text-center">
                    {# On fait une boucle sur les persons et pour chaque person on
                                crée une card bootstrap avec les informations de la personne
                                à l'intérieur #}
                    
                   
                       
                            <div class="card-body " >
        
                                <h2>{{post.title}}</h2>
                                <p class="card-text">
                                    {{post.content}}
                                </p>
                                <img class="img-fluid"  src="{{post.picture}}"    alt="Responsive image">
                                <h5 class="card-title"> {{post.author}} {{post.postDate}} </h5>

                                <a class="btn btn-info btn-block"  href="{{ path('deletePost', { id: post.id }) }}"  type="submit">Delete</a>
                                
        

                       
                    </div>
                   
                </div>
            </div>
    
</body>
</html>